<mat-card class="example-list cardColor">
    <mat-card-title>
        TITLE: {{toDoList.title}}
    </mat-card-title>
    <mat-card-content *ngFor="let note of  toDoList.notes">
        {{note.content}}
    </mat-card-content>
    <mat-card-actions>
        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body  button2"
            (click)="update(toDoList)">
            UPDATE
        </button>
        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body  button"
            (click)="delete(toDoList)">
            DELETE
        </button>
        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body  button3"
            (click)="share(toDoList)">
            SHARE 
        </button>

    </mat-card-actions>

</mat-card>
<h1></h1>