.button {
    margin-left: 00px;
    margin-top: 10px;
    width: 50%;
    height: 40px;

}

.button2 {
    margin-left: 130px;
    margin-top: -40px;
    width: 50%;
    height: 40px;

}

.style {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80px;

}